<div class="container container-fluid" *ngIf="book">
  <div class="row offset-3 mt-5">
    <div class="col col-7">
      <div class="card">
        <div class="card-header">
          <img [src]="book?.book_image" class="img-fluid" alt="book-image" />
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Name of the Book</th>
                <td>{{ book?.name }}</td>
              </tr>
              <tr>
                <th scope="row">Author Name:</th>
                <td>{{ book?.book_author }}</td>
              </tr>

              <tr>
                <th scope="row">Price:</th>
                <td>{{ book?.price }}</td>
              </tr>
            </tbody>
          </table>

          <div class="mt-3">
            <button class="btn btn-success mx-2" (click)="addBooktoFav()">
              Add To Favourites
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-5">
      <a routerLink="/home/favourites" role="button" class="btn btn-dark"
        >Go To Favourites</a
      >
      <a class="btn btn-primary mx-2" routerLink="/home" role="button"
        >Go To Home</a
      >
    </div>
  </div>
</div>
